.background-row {
    position: absolute;
    width: 100%;
    height: 300px;
}

.post-container {
    padding-top: 10rem;
}

.post-container > .row {
    width: 90%;
    margin-left: 5%;
}

.offset-top {
    margin-top: 6rem;
}

.blog-post p {
    font-weight: normal;
}

.img-responsive {
    width: 100%;
}

.elegant-card img {
    height: 230px;
}

footer.page-footer a {
    font-size: 12px;
}

footer.page-footer .footer-copyright {
    line-height: 0;
}

.footer-copyright .small {
    font-size: 80%;
}

pre code {
    font-size: 16px;
}

.card-content {
	min-height: 175px;
}

p {
    padding-top: 1rem;
}

.container {
    width: 80%;
}

.img-responsive {
    max-height: 500px;
}

@media only screen and (max-width: 1000px) {
    .post-container {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .card-block {
        padding: 4%;
    }

    .post-container {
        padding-top: 7rem;
    }

    pre code {
        font-size: 14px;
    }

    .footer-copyright .small {
        font-size: 65%;
    }
}

@media only screen and (max-width: 600px) {
    pre code {
        font-size: 12px;
    }

    .footer-copyright .small {
        font-size: 50%;
    }
}

@media only screen and (max-width: 400px) {
    pre code {
        font-size: 10px;
    }
}

/* Extends flow-text to parsed Markdown HTML '*/

@media only screen and (min-width: 360px) {
    .flow-text > p {
        font-size: 1.2rem !important;
    }
}

@media only screen and (min-width: 390px) {
    .flow-text > p {
        font-size: 1.224rem !important;
    }
}

@media only screen and (min-width: 420px) {
    .flow-text > p {
        font-size: 1.248rem !important;
    }
}

@media only screen and (min-width: 450px) {
    .flow-text > p {
        font-size: 1.272rem !important;
    }
}

@media only screen and (min-width: 480px) {
    .flow-text > p {
        font-size: 1.296rem !important;
    }
}

@media only screen and (min-width: 510px) {
    .flow-text > p {
        font-size: 1.32rem !important;
    }
}

@media only screen and (min-width: 540px) {
    .flow-text > p {
        font-size: 1.344rem !important;
    }
}

@media only screen and (min-width: 570px) {
    .flow-text > p {
        font-size: 1.368rem !important;
    }
}

@media only screen and (min-width: 600px) {
    .flow-text > p {
        font-size: 1.392rem !important;
    }
}

@media only screen and (min-width: 630px) {
    .flow-text > p {
        font-size: 1.416rem !important;
    }
}

@media only screen and (min-width: 660px) {
    .flow-text > p {
        font-size: 1.44rem !important;
    }
}
