<footer class="page-footer elegant-color center-on-small-only">
    <div class="footer-copyright text-center rgba-black-light">
        <div class="container-fluid small">
            <span>
                © 2016 Copyright.
            </span>
            <span>You are free to distribute and reuse the contents of this blog with accreditation under the <a href="http://creativecommons.org/licenses/by/4.0/" class="small">Creative Commons 4.0 License</a>.</span>
            <span>The views and opinions within this blog are my own and do not represent those of my employer nor those of a third party.</span>
        </div>
    </div>
</footer>
