<li class="dropdown">
    <a class="dropdown-toggle waves-effect waves-light" type="button" id="dropdownMenu1"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Blog Posts
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="waves-effect waves-light">
            <a class="dropdown-item" href="/posts.html?category=sitecore">Sitecore</a>
        </li>
        <li class="waves-effect waves-light">
            <a class="dropdown-item" href="/posts.html?category=csharp">C#</a>
        </li>
        <li class="waves-effect waves-light">
            <a class="dropdown-item" href="/posts.html?category=general">General</a>
        </li>
    </ul>
</li>
<li>
    <a class="waves-effect waves-light" data-toggle="modal" data-target="#myModal">About Me</a>
</li>
