@using FluentBootstrap

@*using (row.GridColumn().SetSm(4).Begin())
        {
    <text>
        @Html.Partial("_Categories.cshtml")
    </text>
        }*@
<div class="background-row grey darken-1">
    @using (Html.Bootstrap().Container().Begin())
    {
        using (var row = Html.Bootstrap().GridRow().Begin())
        {
            using (row.GridColumn().Begin())
            {
                <!--Featured Image-->
                <div class="view overlay hm-white-slight z-depth-2">
                    <img src="http://mdbootstrap.com/images/slides/slide%20(16).jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>

                <!--Post data-->
                <div class="jumbotron m-1 text-xs-center">
                    <h2 class="h2-responsive">@Metadata["Title"]</h2>
                    <hr>
                    <p>Cody Swendrowski - @Metadata["Published"]</p>

                    <!--Social shares-->
                    <div class="social-counters">

                        <!--Twitter-->
                        <a class="btn btn-tw">
                            <i class="fa fa-twitter left"></i>
                            <span class="hidden-md-down">Twitter</span>
                        </a>

                        <!--Google+-->
                        <a class="btn btn-gplus">
                            <i class="fa fa-google-plus left"></i>
                            <span class="hidden-md-down">Google+</span>
                        </a>

                    </div>
                    <!--/.Social shares-->

                </div>
            }
        }
    }
</div>
